body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.three-js {
  width: 900px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -451px;
}
#tools {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 250px;
  border-right: 1px solid #333;
  height: 100%;
  }
  #tools #file {
    margin-top: 10px;
    }
    #tools #file span {
      font-weight: bold;
    }
    #tools #file #files {
      margin: 0;
      padding: 0;
    }
#map {
  width: 100px;
  height: 100px;
  background: #eee;
}
#tools ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}
#tools ul a {
  color: #333;
  text-decoration: none;
}
#tools ul a:hover {
  color: red;
}
#modes .active {
  color: red;
}
.hidden {
  display: none;
}

